body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../Images/dmitry-ratushny-O33IVNPb0RI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
*{
    color: rgb(255, 138, 4);
}

/* section1 of our landing page */
.section1 {
  border: groove rgb(168, 51, 8);
  width: 20rem;
  height: 5rem;
  margin: 1rem 40rem;
  background-color: rgb(16, 7, 71);
}
.section1heading {
  color: rgb(182, 104, 3);
  display: flex;
  justify-content: center;
  align-items: inherit;
  padding: 0.8rem;
}
/* section2 of our landing page */
.bigcontainer {
  border: dashed rgb(240, 137, 41);
  border-radius: 2rem;
  height: 90vh;
  width: 80vw;
  margin: 3rem 10rem;
  background-color: rgb(2, 2, 37,.5);
  bcg;
}
.questiontitle{
    color: beige;
}
.question1{
    color: blanchedalmond;
}
.myform{
    display: flex;
    flex-direction: column;
}
button{
    width: 5rem;
    height: 3rem;
}